.logo {height: 50.83px; vertical-align: middle;  margin-left: 230px; 
    margin-top: 44px; margin-right: 282px;

}
.navigation {
display: inline-block; vertical-align: middle; 
 margin-top: 53px; color: #FFFFFF;
}


.nav-li { display: flex; display: inline-block; margin-right: 40px; 
     font-size: 18px; 

}

.title { margin-top: 146px; margin-left: 230px; font-size: 62px; margin-bottom: 25px; color: #FFFFFF;

}
.paragraph {
    font-size: 18px; margin-left: 230px; margin-bottom: 35px; color: #FFFFFF;
}
.free-trial {background-color: #42B4EE; font-size: 18px; width: 160px;
     height: 59px; padding: 15px 30px; color: #FFFFFF; 
     margin-left: 60px; ; 
    }
    
.header {
    background-color: #7F3CE0; margin-bottom: 140.48px; 
}


.demo-text{
    background-color: #42B4EE; font-size: 20px; width: 216px;
     height: 62px; padding: 15px 30px;  margin-left: 230px; 
     margin-bottom: 245.52px;
}
.demo-color {
    color: #FFFFFF;
}
.container { width: 1514px; 
     margin-left: 105px; display: flex;

}
.image1 {
    width: 601.13px; height: 417.15px;  
}


.box-2 { height: 500px; margin-left: 194.15px;

}
.title2 { font-size: 44px;color: #051114; width: 508px; height: 114px;
    


}
.inside-title {font-size: 25px; width: 224px; height: 38px; color: #051114; 

}
.inside-text {font-size: 14px;color: #051114; width: 367px; height: 44px;

}
.div-box1 {
    width: 416px ; height: 336px;
}

 
.title-dv {width: 670px; height: 145px; margin-left: 465px;

}

.title-1 {font-size: 44px; color: #060E1A;

}
.container-3 {width: 1140px;height: 291px; background-color: aquamarine; 
    margin-bottom: 166px; margin-left: 230px ; 

}
.div-photos{width: 360px; height: 291px; display: inline-block; 
   
}
.photo-1 {margin-left: 230px;

}
.photo-2 {margin-left: 30px;

}
.photo-3 {
    margin-left: 30px;
}
.photo-text {
   margin-top: 60px; margin-left: 90px; margin-bottom: 25px;
}

.text-lorem {font-size: 18px; color: #051114;

}
.div-1 {width: 360px;height: 291px; background-color: antiquewhite;

}
.div1-text {margin-left: 90px; font-size: 12px; color: #051114;

}
.imgs {
     
    margin-top: 25px; margin-left: 57px ; margin-bottom: 50px; 
}
.names {font-size: 20px; display: inline-block; margin-left: 20px; 
}



.news-dv {height: 767px; width:1140px ;
     display: inline-block; margin-top: 166px;

}
 
.img4{width: 555px; height: 358px; margin-left: 218px; 
}
.img4-texts { display: flex; color: #051114; font-size: 14px;
     margin-left: 30px; margin-top: 30px;
    margin-left: 30px;margin-bottom: 60px;
     margin-left: 248px;

}
.img4-title {font-size: 22px; color: #051114; 
    line-height: 150%; margin-left: 30px; 
    
    display: inline-block; margin-left: 248px;

}
.paragr-2 { margin-left: 60px; margin-right: 60px;
}
.paragr-3 { margin-right: 71px;
}
.img-par {font-size: 14px; width: 427px; height: 66px;
     line-height: 160%; margin-left: 30px;
     margin-left: 248px;

}
.img5 { margin-left: 0px}
